.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 80px 50px;
}
.form {
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.3);
}
.form .heading {
    font-size: 2rem;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 16px;
    font-weight: lighter;
    line-height: 24px;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 18px;
    font-size: 14px;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.form-control:hover {
    border-color: #ff523b;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    background-color: #ff523b;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 36px;
}